
<section class="vh-100" style="background-color: #508bfc;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <h3 class="mb-5">Sign in to your shift</h3>

            <div data-mdb-input-init class="form-outline mb-4">
             <form action="" method="post">
        <br>
        <input type="text" name="id"
               placeholder="Enter work id"
               value="{{ request.form.id}}"></input>
        <br>
        <br>
        <input type="text" name="name"
               placeholder="Enter your name"
               value="{{ request.form.name}}"></input>
        <br>
    <button data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-lg btn-block" type=”submit”> Start Shift </button>
</form>

            <hr class="my-4">

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
 <body>
      {% for mesg in get_flashed_messages() %}
      <h1>{{ mesg }}</h1>
      {% endfor %}
    </body>
